<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>~/Brogramming/AILP/ailp2/New Code/closestmatch.rb.html</title>
<meta name="Generator" content="Vim/7.3">
<meta name="plugin-version" content="vim7.3_v10">
<meta name="syntax" content="ruby">
<meta name="settings" content="number_lines,use_css,pre_wrap,expand_tabs">
<style type="text/css">
<!--
pre { white-space: pre-wrap; font-family: monospace; color: #d0d0d0; background-color: #121212; }
body { font-family: monospace; color: #d0d0d0; background-color: #121212; }
.lnr { color: #bcbcbc; background-color: #1c1c1c; }
.Statement { color: #d7005f; font-weight: bold; }
.Type { color: #5fd7ff; }
.Conditional { color: #d7005f; font-weight: bold; }
.Comment { color: #5f5f5f; }
.String { color: #afaf87; }
.Delimiter { color: #626262; }
.Number { color: #af5fff; }
.Identifier { color: #ff8700; font-weight: bold; }
.PreProc { color: #87ff00; }
-->
</style>
</head>
<body>
<pre>
<span class="lnr"> 1 </span><span class="PreProc">#!/usr/bin/ruby</span>
<span class="lnr"> 2 </span>
<span class="lnr"> 3 </span><span class="Identifier">$trainingset1</span>=(<span class="Number">51</span>..<span class="Number">75</span>)
<span class="lnr"> 4 </span><span class="Identifier">$trainingset2</span>=(<span class="Number">76</span>..<span class="Number">99</span>)
<span class="lnr"> 5 </span>
<span class="lnr"> 6 </span><span class="Identifier">$datasetdir</span> = <span class="Delimiter">&quot;</span><span class="String">/home/cronin/Brogramming/AILP/ailp2/mit-points/</span><span class="Delimiter">&quot;</span>
<span class="lnr"> 7 </span>
<span class="lnr"> 8 </span><span class="Comment">#Sample number</span>
<span class="lnr"> 9 </span>n = <span class="Identifier">ARGV</span>[<span class="Number">0</span>]
<span class="lnr">10 </span><span class="Comment">#Class of sample</span>
<span class="lnr">11 </span>realtype = <span class="Identifier">ARGV</span>[<span class="Number">1</span>]
<span class="lnr">12 </span><span class="Comment">#Sample number/indicator</span>
<span class="lnr">13 </span>realchar = <span class="Identifier">ARGV</span>[<span class="Number">2</span>]
<span class="lnr">14 </span>
<span class="lnr">15 </span><span class="Comment">#Possible classes</span>
<span class="lnr">16 </span><span class="Conditional">if</span> <span class="Identifier">ARGV</span>[<span class="Number">3</span>] == <span class="Delimiter">'</span><span class="String">b</span><span class="Delimiter">'</span>
<span class="lnr">17 </span>  possible = [<span class="Delimiter">'</span><span class="String">u</span><span class="Delimiter">'</span>,<span class="Delimiter">'</span><span class="String">d</span><span class="Delimiter">'</span>]
<span class="lnr">18 </span><span class="Conditional">elsif</span> <span class="Identifier">ARGV</span>[<span class="Number">3</span>] == <span class="Delimiter">'</span><span class="String">d</span><span class="Delimiter">'</span>
<span class="lnr">19 </span>  possible = [<span class="Delimiter">'</span><span class="String">d</span><span class="Delimiter">'</span>]
<span class="lnr">20 </span><span class="Conditional">elsif</span> <span class="Identifier">ARGV</span>[<span class="Number">3</span>] == <span class="Delimiter">'</span><span class="String">u</span><span class="Delimiter">'</span>
<span class="lnr">21 </span>  possible = [<span class="Delimiter">'</span><span class="String">u</span><span class="Delimiter">'</span>]
<span class="lnr">22 </span><span class="Conditional">end</span>
<span class="lnr">23 </span>
<span class="lnr">24 </span><span class="Comment">#Empty hash of samples before iteration</span>
<span class="lnr">25 </span>samples = <span class="Type">Hash</span>.new
<span class="lnr">26 </span><span class="Comment">#For each possible class of reference</span>
<span class="lnr">27 </span>possible.each <span class="Statement">do</span> |<span class="Identifier">t</span>|
<span class="lnr">28 </span>  <span class="Comment">#Uppercase characters have 26 variants</span>
<span class="lnr">29 </span>  chars = <span class="Number">26</span> <span class="Conditional">if</span> t == <span class="Delimiter">'</span><span class="String">u</span><span class="Delimiter">'</span>
<span class="lnr">30 </span>  <span class="Comment">#Digit characters have 10 variants (0..9)</span>
<span class="lnr">31 </span>  chars = <span class="Number">10</span> <span class="Conditional">if</span> t == <span class="Delimiter">'</span><span class="String">d</span><span class="Delimiter">'</span>
<span class="lnr">32 </span>  <span class="Comment">#For each varient of character</span>
<span class="lnr">33 </span>  (<span class="Number">1</span>..chars).each <span class="Statement">do</span> |<span class="Identifier">c</span>|
<span class="lnr">34 </span>    <span class="Comment">#Generate half of the hashtable in a seperate thread. Data is concurrency safe since the hashtable keys are disjoint.</span>
<span class="lnr">35 </span>    <span class="Type">Thread</span>.new{
<span class="lnr">36 </span>      <span class="Comment">#For the first half of the reference set</span>
<span class="lnr">37 </span>      <span class="Identifier">$trainingset1</span>.each <span class="Statement">do</span> |<span class="Identifier">m</span>|
<span class="lnr">38 </span>         firstpath = <span class="Delimiter">&quot;</span><span class="Delimiter">#{</span><span class="Identifier">$datasetdir</span><span class="Delimiter">}</span><span class="String">s</span><span class="Delimiter">#{</span>(n).to_s.rjust(<span class="Number">3</span>,<span class="Delimiter">'</span><span class="String">0</span><span class="Delimiter">'</span>)<span class="Delimiter">}</span><span class="String">/s</span><span class="Delimiter">#{</span>(n).to_s.rjust(<span class="Number">3</span>,<span class="Delimiter">'</span><span class="String">0</span><span class="Delimiter">'</span>)<span class="Delimiter">}#{</span>realtype<span class="Delimiter">}#{</span>realchar.to_s.rjust(<span class="Number">2</span>,<span class="Delimiter">'</span><span class="String">0</span><span class="Delimiter">'</span>)<span class="Delimiter">}</span><span class="String">.dat</span><span class="Delimiter">&quot;</span>
<span class="lnr">39 </span>         secondpath = <span class="Delimiter">&quot;</span><span class="Delimiter">#{</span><span class="Identifier">$datasetdir</span><span class="Delimiter">}</span><span class="String">s</span><span class="Delimiter">#{</span>(m).to_s.rjust(<span class="Number">3</span>,<span class="Delimiter">'</span><span class="String">0</span><span class="Delimiter">'</span>)<span class="Delimiter">}</span><span class="String">/s</span><span class="Delimiter">#{</span>(m).to_s.rjust(<span class="Number">3</span>,<span class="Delimiter">'</span><span class="String">0</span><span class="Delimiter">'</span>)<span class="Delimiter">}#{</span>t<span class="Delimiter">}#{</span>c.to_s.rjust(<span class="Number">2</span>,<span class="Delimiter">'</span><span class="String">0</span><span class="Delimiter">'</span>)<span class="Delimiter">}</span><span class="String">.dat</span><span class="Delimiter">&quot;</span>
<span class="lnr">40 </span>         <span class="Comment">#Store in the hash the distance of each reference sample from the supplied sample.</span>
<span class="lnr">41 </span>         samples[[n,m,t,c]] = <span class="Delimiter">`</span><span class="String">./a.out </span><span class="Delimiter">#{</span>firstpath<span class="Delimiter">}</span><span class="String"> </span><span class="Delimiter">#{</span>secondpath<span class="Delimiter">}</span><span class="Delimiter">`</span>.to_f <span class="Conditional">if</span> (samples[[m,n,t,c]].nil? &amp;&amp; m != n)
<span class="lnr">42 </span>      <span class="Statement">end</span>
<span class="lnr">43 </span>    }
<span class="lnr">44 </span>    <span class="Comment">#For the second half of the reference set</span>
<span class="lnr">45 </span>    <span class="Identifier">$trainingset2</span>.each <span class="Statement">do</span> |<span class="Identifier">m</span>|
<span class="lnr">46 </span>         firstpath = <span class="Delimiter">&quot;</span><span class="Delimiter">#{</span><span class="Identifier">$datasetdir</span><span class="Delimiter">}</span><span class="String">s</span><span class="Delimiter">#{</span>(n).to_s.rjust(<span class="Number">3</span>,<span class="Delimiter">'</span><span class="String">0</span><span class="Delimiter">'</span>)<span class="Delimiter">}</span><span class="String">/s</span><span class="Delimiter">#{</span>(n).to_s.rjust(<span class="Number">3</span>,<span class="Delimiter">'</span><span class="String">0</span><span class="Delimiter">'</span>)<span class="Delimiter">}#{</span>realtype<span class="Delimiter">}#{</span>realchar.to_s.rjust(<span class="Number">2</span>,<span class="Delimiter">'</span><span class="String">0</span><span class="Delimiter">'</span>)<span class="Delimiter">}</span><span class="String">.dat</span><span class="Delimiter">&quot;</span>
<span class="lnr">47 </span>         secondpath = <span class="Delimiter">&quot;</span><span class="Delimiter">#{</span><span class="Identifier">$datasetdir</span><span class="Delimiter">}</span><span class="String">s</span><span class="Delimiter">#{</span>(m).to_s.rjust(<span class="Number">3</span>,<span class="Delimiter">'</span><span class="String">0</span><span class="Delimiter">'</span>)<span class="Delimiter">}</span><span class="String">/s</span><span class="Delimiter">#{</span>(m).to_s.rjust(<span class="Number">3</span>,<span class="Delimiter">'</span><span class="String">0</span><span class="Delimiter">'</span>)<span class="Delimiter">}#{</span>t<span class="Delimiter">}#{</span>c.to_s.rjust(<span class="Number">2</span>,<span class="Delimiter">'</span><span class="String">0</span><span class="Delimiter">'</span>)<span class="Delimiter">}</span><span class="String">.dat</span><span class="Delimiter">&quot;</span>
<span class="lnr">48 </span>         <span class="Comment">#Store in the hash the distance of each reference sample from the supplied sample.</span>
<span class="lnr">49 </span>         samples[[n,m,t,c]] = <span class="Delimiter">`</span><span class="String">./a.out </span><span class="Delimiter">#{</span>firstpath<span class="Delimiter">}</span><span class="String"> </span><span class="Delimiter">#{</span>secondpath<span class="Delimiter">}</span><span class="Delimiter">`</span>.to_f <span class="Conditional">if</span> (samples[[m,n,t,c]].nil? &amp;&amp; m != n)
<span class="lnr">50 </span>    <span class="Statement">end</span>
<span class="lnr">51 </span>  <span class="Statement">end</span>
<span class="lnr">52 </span><span class="Statement">end</span>
<span class="lnr">53 </span><span class="Comment">#Return the reference sample which matches most closely with the supplied sample</span>
<span class="lnr">54 </span>reference = samples.sort{|<span class="Identifier">x</span>,<span class="Identifier">y</span>| x[<span class="Number">1</span>] &lt;=&gt; y[<span class="Number">1</span>]}[<span class="Number">0</span>]
<span class="lnr">55 </span>type = reference[<span class="Number">0</span>][<span class="Number">2</span>]
<span class="lnr">56 </span>char = reference[<span class="Number">0</span>][<span class="Number">3</span>]
<span class="lnr">57 </span>
<span class="lnr">58 </span>puts <span class="Delimiter">&quot;</span><span class="Delimiter">#{</span>type<span class="Delimiter">}</span><span class="String"> </span><span class="Delimiter">#{</span>char<span class="Delimiter">}</span><span class="Delimiter">&quot;</span>
</pre>
</body>
</html>
